.header {
    flex: none;
    height: auto;
    position: fixed;
    top: 24px;
    z-index: 2;
    opacity: 1;
    width: 100%;
}

.header-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 86px;
    justify-content: space-between;
    overflow: visible;
    padding: 16px 24px;
    position: relative;
    border-bottom-width: 1px;
    border-color: rgba(149, 158, 171, 0.1);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    width: 100%;
    border-radius: 100px;
    opacity: 1;
}

.header-glow-effect {
    background: linear-gradient(110deg,#2b4fcf 0%,rgb(238, 133, 100) 100%);
    border-radius: 100%;
    filter: blur(40px);
    flex: none;
    height: 263px;
    left: calc(50.00000000000002% - 941px / 2);
    opacity: .4;
    position: absolute;
    top: -180px;
    width: 941px;
    z-index: 0;
}

.upper-gradient {
    background: radial-gradient(117.4% 14.7% at 50% 0%, rgb(85, 85, 85) 0%, rgba(21, 26, 34, 0) 100%);
    border-radius: 100px;
    opacity: 1;
    flex: none;
    inset: 0;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    z-index: 0;
}

.lower-gradient {
    background: radial-gradient(117.4% 14.7% at 49.4% 100%, rgb(85, 85, 85) 0%, rgba(21, 26, 34, 0) 100%);
    border-radius: 100px;
    opacity: 1;
    flex: none;
    inset: 0;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    z-index: 0;
}

.inner-effect {
    flex: none;
    height: 84px;
    left: calc(50.00000000000002% - 100% / 2);
    overflow: hidden;
    position: absolute;
    top: calc(50.00000000000002% - 84px / 2);
    width: 100%;
    will-change: transform;
    z-index: 0;
    backdrop-filter: blur(15px);
    background-color: rgba(21, 26, 34, 0.1);
    border-radius: 100px;
    opacity: 1;
}

.brand {
    height: 100%;
    max-width: 25%;
}

.brand img {
    width: auto;
    height: 100%;
}

.brand__link {
    height: 100%;
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: none;
    line-height: 110%;
}

.header__link {
    padding: 10px 24px;
    font-family: "InterTight", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 110%;
    text-decoration: none;
    text-transform: none;
    color: white;
    margin-left: 30px;

    border-bottom-width: 1px;
    border-color: transparent;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    border-radius: 30px;
    opacity: 1;
}

.header__link--first {
    margin-left: 0 !important;
}

.header__link:hover {
    border-bottom-width: 1px;
    border-color: rgba(149, 158, 171, 0.1);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
}

.signin {
    border-radius: 100px;
    opacity: 1;
    padding: 12px 28px;
    height: min-content;
    width: min-content;
    white-space: nowrap;
    color: white;
    font-family: "InterTight";
    font-size: 22px;
    font-weight: bold;
    display: block;
    text-decoration: none;
}

